<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="btn btn-success">Mua</div>
        </div>
        <div class="col-9">
            <h2 class="text-primary">{{course.name}}</h2>
            
        </div>
    </div>
</div>