<form method="POST">
    <div class="form-group">
     <label for="name">User Name</label>
     <input type="text" class="form-control" name="name" id="name"  placeholder=""Nhập name"">
    </div>
    .<button type="submit" class="btn btn-primary">Submit</button>
</form>
<div class="Course">
    <div class="row">
        {{#each course}}
        <div class="col-4 mt-5 " >
            <div class="card " style="height: 500px;">
              <img class="card-img-top" src={{this.image}} alt="">
              <div class="card-body">
                <h4 class="card-title">{{this.name}}</h4>
                <p class="card-text">{{this.description}}</p>
                <div class="btn btn-primary">Add Khóa Học</div>

              </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>